/* Genel Stil */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Başlık */
h1 {
    text-align: center;
    color: #4CAF50;
    margin: 20px 0;
    font-size: 28px;
}

/* Liste */
ul {
    list-style: none;
    padding: 0;
    max-width: 600px;
    margin: 20px auto;
}

ul li {
    background-color: #fff;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

ul li:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

/* Harita Linkleri */
ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
}

ul li a:hover {
    text-decoration: underline;
}

/* Ana Sayfaya Dön Linki */
a {
    display: block;
    text-align: center;
    margin: 20px auto;
    padding: 10px 20px;
    width: 200px;
    background-color: #07f50f;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
/*
a:hover {
    background-color: #04ff10;
}
*/